@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.outer {
  .inner {
    @include inner;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main {
      h3 {
        @include h3;
        color: $clr_secondary;
      }
      h2 {
        @include h2;
        color: $clr_secondary;
      }
      .links {
        display: flex;
        margin: -5px;
        padding-bottom: 55px;
        div {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #f9f9f9;
          width: 165px;
          height: 61px;
          text-transform: uppercase;
          border: 1px solid #d6d6d6;
          flex: 1 1 auto;
          margin: 5px;
          p {
            @include p;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
          }
        }
        .active {
          background: $clr_secondary;
          color: $clr_whtie;
        }
      }
      .category {
        display: flex;
        justify-content: space-between;
        margin: -5px;
        flex-wrap: wrap;
        div {
          display: flex;
          flex-direction: column;
          justify-content: end;
          width: 350px;
          height: 280px;
          flex: 1 1 auto;
          margin: 5px;
          p {
            @include p;
            padding-bottom: 20px;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $clr_whtie;
          }
        }
        div:nth-child(1) {
          @include img;
          background-image: url("../../img/category/Rectangle\ 5.png");
        }
        div:nth-child(2) {
          @include img;
          background-image: url("../../img/category/Rectangle\ 5\ \(1\).png");
        }
        div:nth-child(3) {
          @include img;
          background-image: url("../../img/category/Rectangle\ 5\ \(2\).png");
        }
        div:nth-child(4) {
          @include img;
          background-image: url("../../img/category/Rectangle\ 5\ \(3\).png");
        }
        div:nth-child(5) {
          @include img;
          background-image: url("../../img/category/Rectangle\ 5\ \(4\).png");
        }
        div:nth-child(6) {
          @include img;
          background-image: url("../../img/category/Rectangle\ 5\ \(5\).png");
        }
      }
    }
  }
}
