@import '../../sass/mixins.scss';

.outer {
  @include outer;
  .inner {
    @include inner;
    color: #ffffff;
    h3 {
      @include h3;
    }
    h2 {
      @include h2;
    }
    p {
      @include p;
      color: #ffffff;
      width: 730px;
      margin: 0 auto;
    }
    button {
      @include button;
    }
  }
}
