@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.outer {
  @include outer;
  .inner {
    @include inner;
    h3 {
      @include h3;
      color: $clr_whtie;
    }
    h2 {
      @include h2;
      color: $clr_whtie;
    }
    .subscribe {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: $clr_whtie;
      padding: 0 80px;
      .info {
        text-align: left;
        p {
          display: flex;
          align-items: center;
          padding: 10px;
          span {
            padding-right: 8px;
          }
        }
      }
      .input_outer {
        padding: 10px;
        border: 1px solid $clr_whtie;
        .input_inner {
          width: 418px;
          height: 85px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $clr_whtie;
          padding: 20px;
          input {
            padding: 14px 35px;
            text-transform: uppercase;
          }
          button {
            margin-left: 10px;
            padding: 14px 35px;
            text-transform: uppercase;
            color: $clr_whtie;
            background: $clr_secondary;
            border: 0px transparent;
          }
        }
      }
    }
  }
}
