@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.outer {
  .inner {
    @include inner;
    h3 {
      @include h3;
      color: $clr_secondary;
    }
    h2 {
      @include h2;
      color: $clr_secondary;
    }
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  div {
    img {
      display: flex;
      flex-grow: 1;
      max-height: 297px;
    }
  }
}
