@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.outer {
  width: 100%;
  .inner {
    @include inner;
    h3 {
      @include h3;
      color: $clr_secondary;
    }
    h2 {
      @include h2;
      color: $clr_secondary;
    }
    p {
      @include p;
      margin: 0 auto;
      width: 200px;
    }
    button {
      @include button;
      margin: 0;
      background: $clr_secondary;
      border: 0px solid transparent;
      color: $clr_whtie;
    }
  }
}
.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 60px;
  div {
    position: relative;
    width: 350px;
    height: 370px;
    p {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    p {
      @include p;
      font-size: 21px;
      color: $clr_whtie;
    }
  }
}
