@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.outer {
  width: 100%;
  .inner {
    @include inner;
    h3 {
      @include h3;
      color: $clr_secondary;
    }
    h2 {
      @include h2;
      color: $clr_secondary;
    }
    p {
    @include p;
      margin: 0 auto;
      width: 200px;
    }
    button {
      @include button;
      margin: 0;
      background: $clr_secondary;
      border: 0px solid transparent;
      color: $clr_whtie;
    }
  }
}
.items {
  display: flex;
  justify-content: space-between;
  margin: -5px;
  flex-wrap: wrap;
  padding-bottom: 60px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 350px;
    height: 370px;
    flex: 1 1 auto;
    margin: 5px;
    box-sizing: border-box;
    p {
      @include p;
      font-size: 21px;
      color: $clr_whtie;
      padding-bottom: 20px;
    }
  }
  div:nth-child(1) {
    @include img;
    background-image: url("../../img/category/Rectangle\ 5.png");
  }
  div:nth-child(2) {
    @include img;
    background-image: url("../../img/category/Rectangle\ 5\ \(1\).png");
  }
  div:nth-child(3) {
    @include img;
    background-image: url("../../img/category/Rectangle\ 5\ \(2\).png");
  }
}
